<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Switch Case Example</title>
    <link th:href="@{css/bootstrap.min.css}", rel="stylesheet">
    <link th:href="@{css/main.css}", rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Thymeleaf Switch Demo</h1>
            <h4 th:utext="${user.getUserName()}"></h4>
                <div th:switch="${user.getRole()}">
                    <p th:case="'ADMIN'">User is Administrator</p>
                    <p th:case="'MANAGER'"> User is Manager</p>
                    <p th:case="'GUEST'"> User is Guest User</p>
                    <p th:case="*"> User is un know</p>
                </div>
        </div>

    </div>
</body>
</html>